<h1>All cocktails</h1>
<tbody>
  <% @cocktails.each do |cocktail| %>
    <div class="cocktails_list">
      <tr>
        <td><%= cocktail.name %></td>
        <td><%= link_to 'Show', cocktail %></td>
        <td><%= link_to 'Edit', edit_cocktail_path(cocktail) %></td>
        <td><%= link_to 'Destroy', cocktail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    </div>
  <% end %>
</tbody>
<div class="form-actions">
  <%= link_to 'New Cocktail', new_cocktail_path %>
</div>
